<!DOCTYPE html>
<html>
  <head>
    <title>Job Report</title>
    <style>
      section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

      }
      
    </style>
 
  </head>
  <body>
    <h1>Search Results</h1>
    <h3>Found{{resultNumber}} results for {{searchingBy}} </h3>
    <a href="/export?word={{searchingBy}}"> Export to SVC</a>
    <section>
      <h4>title</h4>
      <h4>company</h4>
      <h4>location</h4>
      <h4>link</h4>
    </section>">"
    {{result}}

    <!-- flask 에서 python 코드를 작성하기 위해서는 이렇게
    {% for job in jobs %}
      <span>{{job.title}}</span>
      <span>{{job.company}}</span>
      <span>{{job.location}}</span>
      <a href="{{job.link}}" target="__blank"> Apply </a>
    {% endfor %} 
    -->
  </body>   
</html>